In [40]:
import sqlite3

import pandas as pd
def load_data():
    """Load data."""
    conn = sqlite3.connect(":memory:")
    cur = conn.cursor()

    with open("../tests/create_tables.sql", encoding="utf-8") as file:
        cur.executescript(file.read())

    return conn, cur
def test_08():
    """Test 08."""
    conn, _ = load_data()
    with open("../homework/pregunta_08.sql", encoding="utf-8") as file:
        query = file.read()
    print(pd.read_sql_query(query, conn).to_dict())
test_08()

{"strftime('%Y', c23)": {0: '2016', 1: '2017', 2: '2018', 3: '2019'}, 'avg(c21)': {0: 564.4764285714285, 1: 515.1563636363636, 2: 557.5593749999999, 3: 550.9985714285714}}

In [43]:
def test_12():
    """Test 12."""
    conn, _ = load_data()
    with open("../homework/pregunta_12.sql", encoding="utf-8") as file:
        query = file.read()
    print(pd.read_sql_query(query, conn).to_dict())
test_12()

{'MAX(c12)': {0: 938.16, 1: 999.72, 2: 822.81, 3: 756.37, 4: 832.44}, 'MIN(c12)': {0: 135.8, 1: 283.4, 2: 267.42, 3: 317.77, 4: 118.77}}

In [ ]:
    assert pd.read_sql_query(query, conn).to_dict() == {
        "K0": {0: "A", 1: "B", 2: "C", 3: "D", 4: "E"},
        "MAX(c12)": {0: 938.16, 1: 999.72, 2: 822.81, 3: 756.37, 4: 832.44},
        "MIN(c12)": {0: 135.8, 1: 283.4, 2: 267.42, 3: 317.77, 4: 118.77},
    }

In [46]:
def test_13():
    """Test 13."""
    conn, _ = load_data()
    with open("../homework/pregunta_13.sql", encoding="utf-8") as file:
        query = file.read()
    result = pd.read_sql_query(query, conn).to_dict()
    print(result)
test_13()

{'K0': {0: 'A', 1: 'B', 2: 'C', 3: 'D', 4: 'E'}, 'avg(c12)': {0: 476.155, 1: 536.5233333333333, 2: 490.8299999999999, 3: 709.53, 4: 474.82500000000005}}

In [55]:
def test_14():
    """Test 14."""
    conn, _ = load_data()
    with open("../homework/pregunta_14.sql", encoding="utf-8") as file:
        query = file.read()
    result = pd.read_sql_query(query, conn).to_dict()
    print(result)
test_14()

{'K0': {0: 'A', 1: 'B', 2: 'C', 3: 'D', 4: 'E'}, 'avg(c21)': {0: 593.5, 1: 575.47, 2: 530.75, 3: 655.61, 4: 555.32}}